body{
    background-color: #202124;
    color: white;
}

div.main{
    height: 100vh;
    align-items: center;
    display: grid;
}

#map{
    margin: auto;
    background-color: transparent;
}
#map tr td{
    height: 30px;
    width: 30px;
}

div.cell{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.575);
}
div.cell.fruit{
    background-color: #E7471D;
}
div.cell.snake{
    background-color: #4876EB;
}

.text-center{text-align: center !important;}
.text-left{text-align: left !important;}
.text-right{text-align: right !important;}


.score{
    padding: 10px 100px 15px 30px;
    text-align: left;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.575);
    right: 0px;
    border-radius: 0px 0px 0px 20px;
}
.score > p{
    margin: 0px;
}